* { 
    margin: 0; 
    outline: none; 
}
body {
    background: url("./images/pro_cover.jpg") repeat scroll center center rgb(100, 91, 92);
}

.cont {
	display: inline-block;
	text-align: center;
	position:relative;
	top: 50%;
	left: 45%;
}