/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2017, 11:05:18 PM
    Author     : jaita
*/
/*------ header ------- */
body{
    margin: 0;
    padding:0;
    overflow:auto;
    height:100%;
}

.header .h2
{
    color: black;
}
/* header end */

/*------ h1, h2, h3, h4, h5, h6 ------- */
h1,

h3,
h4,
h5,
h6 {
  text-transform: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}
h1 {
  font-size: 70px;
  line-height: 74px;
}
header h1 {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 50px;
  line-height: 52px;
}
header h2 {
    color:black;
}
h3 {
  font-size: 30px;
  line-height: 34px;
  margin: 32px 0 15px;
  font-weight: normal;
}
.row-1 .h3
{
    color: #000;
}
.content-extra h3 {
  margin: 42px 0 25px;
}
h4 {
  font-size: 48px;
  line-height: 50px;
  margin: 21px 0 20px;
}
h5 {
  font-size: 18px;
  color: #939393;
  font-weight: 600;
  letter-spacing: -1px;
}
p {
  padding-bottom: 25px;
  margin: 0;
}
/*h1,h2,h3,h4,h5,h6 end */


header {
  padding: 30px 0 29px;
  z-index: 50;
  background: #534533; 
}

.Site-top {
    height: 60px;
    width: 100%;
background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}
form {
    border: 3px solid #f1f1f1;
}

.Site-top .container .h2 {
    text-align: left;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    height:100%;
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
.Site-top button {
   box-shadow: #5488EC;
    border-radius: 4px;
    font-weight: bold;
    background-color: #29B6F6;
    color: black;
        padding: 10px 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    width:fit-content;
}

.register{
   border-radius: 4px;
    background-color: #fff;
    color: black; 
    position:absolute;
    top:13px;
    right:120px;
}

.log {
    position: absolute;
    right: 2%;
    top: 2%;
}

.modal button {
    background-color: #4CAF50;
    color: black;
    font-family: "Comic Sans MS";
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width:fit-content;    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    width: 80px; /* Full width */
    height: font-content; /* Full height */
    overflow: hidden; /* Enable scroll if needed */     
    padding: 15px 15px 15px 15px;
}

.list {
    height:60px;
    width:100%;
background-color: #0f1c17;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
opacity: 2.8;
    border-bottom: 1px solid blue;
}

.list li:hover{
    background-color: black;
}

.list li{
    display:inline-block;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
    height:40px;
    width:200px;
    text-align:center;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}
.list li a{
    padding:10px  0px 10px 0px;
    margin:auto;
}




.body-area {
    height:600px;
    width: 100%;
    background-image:url('../img/matrix.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
   
}


/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 15px;
    background-color: #f44336;
}

.footer {
  padding: 51px 0 40px;
background: black ;
}

.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

